body {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
}


#cookieBox {
  font-family: monospace;
  background-color: #121212;
  border: 1px solid #333;
  border-radius: 8px;
  color: #eee;
  padding: 10px;
  font-size: 14px;
  resize: vertical;
  margin-top: 15px;
  width: 100%;
  display: none; /* hidden by default */
}


@media (min-width: 768px) {
  #cookieBox {
    display: none !important;
  }
}




.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.95rem;
  color: #ccc;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox .checkmark {
  width: 18px;
  height: 18px;
  background-color: #2a2a3a;
  border: 2px solid #555;
  border-radius: 4px;
  transition: all 0.2s ease;
  display: inline-block;
  position: relative;
}

.custom-checkbox input:checked + .checkmark {
  background-color: #0f0f1a;
  border-color: #7800d2;
}

.custom-checkbox input:checked + .checkmark::after {
  content: '';
  position: absolute;
  left: 4.5px;
  top: 1.5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
